@model Zuehlke.Camp2013.NoSQL.Web.Models.StatsModel

@{
    ViewBag.Title = "Zühlke Search - Admin Interface";
}

<h2>Statistics</h2>

<table style="width: 100%;">
    <tr>
        <th>Number of Pages</th>
        <th>Number of Index Entries</th>
    </tr>
    <tbody>
        <tr>
            <td>@Model.NumberOfPages</td>
            <td>@Model.NumberOfIndexEntries</td>
        </tr>
    </tbody>
</table>